<!-- header -->
<div ng-include="'pages/header-welcome.html?s=100'"></div>
<!-- menu -->
<div ng-include="'pages/menu.html?s=100'"></div>
<!-- flash message -->

<!-- content -->
<div class="content">
	<div class="container">
		<p>&nbsp;</p>
		<div class="row">

			  	<div class="col-xs-12 col-md-12">
					 <!-- Testpaper form  -->
			         <form class="form-horizontal" ng-controller="createtp">
			            <div class="form-group required">
			               <label for="name" class="col-sm-2 control-label">Name</label>
			               <div class="col-sm-8">
			                  <input type="text" class="form-control" id="" placeholder="Test Paper Name" ng-model="name">
			               </div>
			            </div>

			           	<div class="form-group">
			               <label for="tag" class="col-sm-2 control-label">Tags</label>
			               <div class="col-sm-8">
			                  <input type="text" class="form-control" id=""  ng-model="tag">
			                  <p class="help-block">Enter tags separated by commas. Eg : subject-code, batch-no, exam-year </p>
			               </div>
			            </div>

			            <div class="form-group">
							    <label for="time_limit" class="col-sm-2 control-label">Time Limit</label>
							    <div class="col-sm-3">
							      <select class="form-control" ng-model="time_limit">
									  <option value="no-limit">No Limit</option>
									  <option value="10-min">10 minutes</option>
									  <option value="20-min">20 minutes</option>
									  <option value="30-min">30 minutes</option>
									  <option value="40-min">40 minutes</option>
									  <option value="50-min">50 minutes</option>
									  <option value="60-min">60 minutes	(1 hour)</option>
									  <option value="90-min">90 minutes (1 hour 30 minutes)</option>
									  <option value="120-min">120 Min (2 hours)</option>
									  <option value="150-min">150 Min (2 hours 30 minutes)</option>
									  <option value="180-min">180 Min (3 hours)</option>
									  <option value="210-min">210 Min (3 hours 30 minutes)</option>
									  <option value="240-min">240 Min (4 hours)</option>
									  <option value="270-min">270 Min (4 hours 30 minutes)</option>
									  <option value="300-min">300 Min (5 hours)</option>
									  <option value="300-min">330 Min (5 hours 30 minutes)</option>
									</select>
							    </div>
						</div> 
					
							<div class="form-group">
							    <div class="col-sm-offset-2 col-sm-8">
							      <a  class="btn btn-default" href="/#/manage-testpaper">Cancel</a>
							      <button type="submit" class="btn btn-primary" ng-click="saveTp()">Continue</button>
							    </div>
							</div> 
			         </form>
	        		 <!-- / Testpaper form -->
        		 </div>

		</div> <!-- row -->
	</div>  <!-- container  -->
</div> <!-- content -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
        <form class="form-horizontal">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Type</label>
		    <div class="col-sm-10">
		      <select class="form-control">
				  <option>Single Choice</option>
				  <option>Multi Choice</option>
				  <option>True or False</option>
				  <option>Match</option>
				  <option>Fill Up</option>
				</select>
		    </div>
		  </div>        
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Question</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
		    </div>
		  </div>	

		   <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Options</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
		      <p class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</p>
		    </div>
		  </div>

		   <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Answer</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
		      <p class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</p>
		    </div>
		  </div>

		 <div class="form-group">
		    <label for="inputEmail3" class="col-sm-5 control-label">Mark for each correct answer</label>
		    <div class="col-sm-2">
		      <select class="form-control">
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>-1</option>
				  <option>-2</option>
				</select>
		    </div>
		  </div> 
		 <div class="form-group">
		    <label for="inputEmail3" class="col-sm-5 control-label">Mark for each worng answer</label>
		    <div class="col-sm-2">
		      <select class="form-control">
				  <option>0</option>
				  <option>2</option>
				  <option>3</option>
				  <option>-1</option>
				  <option>-2</option>
				</select>
		    </div>
		  </div> 
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$('#myModal').on('shown.bs.modal', function () {
  		$('#myInput').focus()
	});
</script>
