<!-- header -->
<div ng-include="'pages/header-welcome.html?s=100'"></div>
<!-- menu -->
<div ng-include="'pages/menu.html?s=200'"></div>
<!-- content -->
<div class="content">
  <div class="container">
  <p>&nbsp;</p>
    <div class="row" ng-controller="editTagCtrl">
       
       <div class="col-xs-12 col-md-10">
        
        <!-- tag form  -->
         <form class="form-horizontal"  name="tagForm" validate >
            
            <input type="text" class="form-control hidden" id="inputAccessToken" ng-model="data.tag_id" >
            <div class="form-group required">
               <label for="inputTagname" class="col-sm-2 control-label">Tag Name</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputTagname" placeholder="Tag name"  ng-model="data.name" required>
               </div>
            </div>
            <div class="form-group required">
               <label for="inputdescription" class="col-sm-2 control-label">Description</label>
               <div class="col-sm-10">
                  <textarea class="form-control" rows="3" ng-model="data.description" required></textarea>
               </div>
            </div>
            
            <input type="text" class="form-control hidden" id="inputAccessToken" ng-model="data.access_token" >
            <input type="text" class="form-control hidden" id="inputUid" ng-model="data.uid">

            <div class="form-group required">
               <label for="inputdescription" class="col-sm-2 control-label">Is Active</label>
               <div class="col-sm-5">
                <select class="form-control" ng-model="data.is_active" required>
                  <option value="y">Yes</option>
                  <option value="n">No</option>
                </select>
               </div>
            </div>
             <input type="text" class="form-control hidden" id="inputTagname" placeholder="Tag name"  ng-model="data.tag_id" >

            <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                  <a href="/#/manage-tag" class="btn btn-default">Cancel</a>
                  <button type="submit" ng-click="submitForm()" class="btn btn-primary">Update</button>
               </div>
            </div>
         </form>
         <!-- / tag form -->
   
       </div>

    </div>
  </div>
</div>  


